<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:iq="http://www.garmin.com/xml/connectiq">
    <settings>
        <setting propertyKey="@Properties.RacerName" title="Racer Name">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.RaceID" title="Race ID">
            <settingConfig type="alphaNumeric" />
        </setting>
    </settings>
</resources>